<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <ProxiBlue_NewRelic>
            <version>0.1.2</version>
        </ProxiBlue_NewRelic>
    </modules>
    <global>
        <models>
            <newrelic>
                <class>ProxiBlue_NewRelic_Model</class>
            </newrelic>
        </models>
        <blocks>
            <newrelic>
                <class>ProxiBlue_NewRelic_Block</class>
            </newrelic>
            <adminhtml>
                <rewrite>
                    <dashboard_diagrams>ProxiBlue_NewRelic_Block_Adminhtml_Dashboard_Diagrams</dashboard_diagrams>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <newrelic>
                <class>ProxiBlue_NewRelic_Helper</class>
            </newrelic>
        </helpers>
        <events>
            <adminhtml_cache_refresh_type>
                <observers>
                    <newrelic_adminhtml_cache_refresh_type>
                        <type>singleton</type>
                        <class>newrelic/observer</class>
                        <method>adminhtml_cache_refresh_type</method>
                    </newrelic_adminhtml_cache_refresh_type>>
                </observers>
            </adminhtml_cache_refresh_type>
            <controller_action_postdispatch_adminhtml_process_massReindex>
                <observers>
                    <newrelic_controller_action_postdispatch_adminhtml_process_massReindex>
                        <class>newrelic/observer</class>
                        <method>controller_action_postdispatch_adminhtml_process_massReindex</method>
                    </newrelic_controller_action_postdispatch_adminhtml_process_massReindex>
                </observers>
            </controller_action_postdispatch_adminhtml_process_massReindex>
            <controller_action_postdispatch_adminhtml_process_reindexProcess>
                <observers>
                    <newrelic_controller_action_postdispatch_adminhtml_process_reindexProcess>
                        <class>newrelic/observer</class>
                        <method>controller_action_postdispatch_adminhtml_process_reindexProcess</method>
                    </newrelic_controller_action_postdispatch_adminhtml_process_reindexProcess>
                </observers>
            </controller_action_postdispatch_adminhtml_process_reindexProcess>
            <adminhtml_cache_flush_all>
                <observers>
                    <newrelic_adminhtml_cache_flush_all>
                        <class>newrelic/observer</class>
                        <method>adminhtml_cache_flush_all</method>
                    </newrelic_adminhtml_cache_flush_all>
                </observers>
            </adminhtml_cache_flush_all>
            <adminhtml_cache_flush_system>
                <observers>
                    <newrelic_adminhtml_cache_flush_system>
                        <class>newrelic/observer</class>
                        <method>adminhtml_cache_flush_system</method>
                    </newrelic_adminhtml_cache_flush_system>
                </observers>
            </adminhtml_cache_flush_system>
            <clean_media_cache_after>
                <observers>
                    <newrelic_clean_media_cache_after>
                        <class>newrelic/observer</class>
                        <method>clean_media_cache_after</method>
                    </newrelic_clean_media_cache_after>
                </observers>
            </clean_media_cache_after>
            <clean_catalog_images_cache_after>
                <observers>
                    <newrelic_clean_catalog_images_cache_after>
                        <class>newrelic/observer</class>
                        <method>clean_catalog_images_cache_after</method>
                    </newrelic_clean_catalog_images_cache_after>
                </observers>
            </clean_catalog_images_cache_after>
            <controller_action_predispatch>
                <observers>
                    <newrelic_controller_action_predispatch>
                        <class>newrelic/predispatch_observer</class>
                        <method>controller_action_predispatch</method>
                    </newrelic_controller_action_predispatch>
                </observers>
            </controller_action_predispatch>
        </events>
        <resources>
            <proxiblue_newrelic_setup>
                <setup>
                    <module>ProxiBlue_NewRelic</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </proxiblue_newrelic_setup>
        </resources>
        <log>
            <core>
                <writer_model>ProxiBlue_NewRelic_Model_Log_Writer_Stream</writer_model>
            </core>
        </log>
    </global> 
    <frontend>
        <events>
            <!-- custom metrics -->
            <customer_register_success>
                <observers>
                    <newrelic_customer_register_success>
                        <class>newrelic/metrics</class>
                        <method>customer_register_success</method>
                    </newrelic_customer_register_success>
                </observers>
            </customer_register_success>
        </events>
        <routers>
            <newrelic>
                <use>standard</use>
                <args>
                    <module>ProxiBlue_NewRelic</module>
                    <frontName>newrelic</frontName>
                </args>
            </newrelic>
        </routers>
    </frontend>    
</config>
